.featured-products-list {
  article {
    border: 1px solid black;

    display: flex;
    align-items: stretch;
    flex-wrap: wrap;

    margin: 2em 0;

    background-color: white;

    &.removing {
      animation: throwAway 2s linear;
      position: relative;
      z-index: 100;
    }

    .name-box {
      flex: 0 1 150px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      background-color: #444444;
      color: white;
      text-align: center;
    }

    .summary-box {
      flex: 1 1 auto;

      padding: 1em;
      
      .btn {
        width: 100%;
        margin: 0.1em 0;
      }
    }

    .details-box {
      flex: 1 1 66%;
      border-left: 1px solid black;

      padding: 2em;
    }
  }
}

@keyframes throwAway {
  0% {
    transform: rotateZ(0deg) scale(0.8);
    top: 0;
    left: 0;
    opacity: 0.8;
  }

  100% {
    transform: rotateZ(1200deg) scale(0.1);
    top: -200vh;
    left: 200vw;
    opacity: 0;
  }
}